body{
    background-color: black;
}
img{
    width: fit-content;
    height: 143px;
    border: 5px solid darkslategrey;

}
div.topButtons{
    background-color: black;
    width:fit-content;
    height: fit-content;
    white-space: nowrap;
    overflow-x: auto;
    
    padding: 0;
    
    
}
#GH{
    display: inline-block;
    background: white;
}
#LI{
    display: inline-block;
    background: white;
}
div.a{
    font-size: x-large;
}