body{
    display: block;
    align-content: center;
    background-color: #DBE2EF;
}

div.cover{
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 0px;
}
#ttl{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 3px solid #1B262C;
    border-left: 3px solid #1B262C;
    border-right: 3px solid #1B262C;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: left;
    background-color: #DBE2EF;
    width: 85%;
    height: 100%;
    padding-left: 10px;
}
#subTtl{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: 3px solid #1B262C;
    border-left: 3px solid #1B262C;
    border-right: 3px solid #1B262C;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-color: #DBE2EF;
    width: 85%;
    height: 100%;
    padding-right: 10px;
}
div.title{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: auto;
    width: 70%;
    text-align: center;
    color: #1B262C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: #6C5B7B;
    height: fit-content;
    white-space: nowrap;
    overflow-x: auto;
    
    border: 6px solid #1B262C;
    padding-left: 10px;
    padding-right: 10px;
}
img{
    border-radius: 15px;
    border: 3px solid #1B262C;
}
div.info{
    margin: auto;
    width: 70%;
    height: 480px;
    white-space: normal;
    background-color: #537eaf;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 6px solid #1B262C;
    border-left: 6px solid #1B262C;
    border-right: 6px solid #1B262C;
    color: #1B262C;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
div.blurb{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    float: left;
    width: 30%;
    height: 90%;
    background-color: #DBE2EF;
    white-space: normal;
    color: #1B262C;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #1B262C;
    border-top: 1px solid #1B262C;
    border-left: 1px solid #1B262C;
    padding: 1%;
}
div.bio{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin: auto;
    float: left;
    width: 35%;
    height: 90%;
    background-color: #DBE2EF;
    white-space: normal;
    color: #1B262C;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #1B262C;
    border-top: 1px solid #1B262C;
    border-right: 1px solid #1B262C;
    padding: 1%;
}
div.question{
    border-top-left-radius: 15px;
    margin: auto;
    padding-left: 3px;
    float: left;
    width: 38%;
    height: 30%;
    text-align: left;
    background-color: #ffffff;
}
div.answer{
    border-top-right-radius: 15px;
    margin: auto;
    padding-right: 3px;
    float: left;
    width: 60%;
    height: 30%;
    text-align: right;
    background-color: #ffffff;
}
div.about{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: auto;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    width: 98%;
    height: 70%;
    text-align: left;
    background-color: #ffffff;
}
div.links{
    float: right;
    width: 30%;
    text-align: right;
    
    height: 143px;
    height: fit-content;
    white-space: normal;
    
}
#program{
    width: 200px;
}
#name{
    text-align: center;
    background-color: #DBE2EF;
    width: 200px;
}
#GH{
    margin-inline: 5%;
    width: 90%;
    height: 90%;
    background: black;
}
#LI{
    margin-inline: 5%;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    background: black;
}
#RE{
    margin-inline: 5%;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    background: black;
}
#pfp{
    margin-top: 2%;
    height: 70%;
    width: auto;
}